<%= form_with(model: blog, local: true ,url: choose_new_or_edit) do |form| %>
  <% if blog.errors.any? %>
    <div id="error_explanation"> 
      <h2><%= pluralize(blog.errors.count, "件のエラー") %> 以下を確認してください</h2>

      <ul>
      <% blog.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :blog_title %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_field :content, id: :blog_content %>
  </div>


  <div class="field">
    <%= form.label :image %>
    <%= image_tag(@blog.image.url)if@blog.image.url %>
    <%= form.file_field :image %>
    <%= form.hidden_field :image_cache %>
  </div>

  <div class="actions">
    <%= form.submit nil, class: "btn btn-default" %>
  </div>
<% end %>
