<p id="notice"><%= notice %></p>

<h1>Blogs</h1>

<table>
  <thead>
    <tr>
      <th>タイトル</th>
      <th>内容</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @blogs.each do |blog| %>
      <tr>
        <td><%= blog.title %></td>
        <td><%= blog.content %></td>
        <td><%= link_to '詳細をみる', blog %></td>
        <%if current_user.try(:id) == blog.user_id %>
        <td><%= link_to '編集する', edit_blog_path(blog) %></td>
        <td><%= link_to '削除する', blog, method: :delete, data: { confirm: '消してもええんか？' } %></td>
　　　　<% end %>      
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Blog', new_blog_path %>

