<p id="notice"><%= notice %></p>

<p>
  <strong>タイトル:</strong>
  <%= @blog.title %>
</p>

<p>
  <strong>内容:</strong>
  <%= @blog.content %>
</p>

<p>
  <strong>画像:</strong>
  <%= image_tag @blog.image.url if @blog.image.url %>
</p>

<p>
  <strong>ユーザー名:</strong>
  <%= @blog.user.name %>
</p>
<% unless current_user == nil %>
 <% unless @blog.user_id == current_user.id %>
   <% if @favorite.present? %>
     <%= link_to 'お気に入り解除する', favorite_path(id: @favorite.id), method: :delete, class: 'btn btn-danger' %>
   <% else %>
     <%= link_to 'お気に入りする', favorites_path(blog_id: @blog.id), method: :post, class: 'btn btn-primary' %>
   <% end %>
 <% end %>
<% end %>
<%if current_user.try(:id) == @blog.user_id %>
<p class="btn btn-default"><%= link_to '編集する', edit_blog_path(@blog) %></p>
<%end%>
<p class="btn btn-default"><%= link_to '戻る', blogs_path %></p>