<p id="notice"><%= notice %></p>

<p>
  <strong>タイトル:</strong>
  <%= @blog.title %>
</p>

<p>
  <strong>内容:</strong>
  <%= @blog.content %>
</p>

<p>
  <strong>画像:</strong>
  <%= image_tag @blog.image.url if @blog.image.url %>
</p>

<p>
  <strong>ユーザー名:</strong>
  <%= @blog.user.name %>
</p>
<%if current_user.try(:id) == @blog.user_id %>
<%= link_to 'Edit', edit_blog_path(@blog) %>
<%end%>
<%= link_to 'Back', blogs_path %>
