<%= form_with(model: @user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation"> 
      <h2><%= pluralize(user.errors.count, "件のエラー") %> 以下を確認してください</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :user_name %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_area :email, id: :user_email %>
  </div>
  
  <div class="field">
    <%= form.label :password %>
    <%= form.text_area :password, id: :user_password %>
  </div>

  <div class="field">
    <%= form.label :user_image %>
    <%= image_tag(@user.user_image.url)if@user.user_image.url %>
    <%= form.file_field :user_image %>
    <%= form.hidden_field :user_image_cache %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>